html{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 2em;
}
h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
	color: lightcoral;
}

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: coral;
}

div .formField{
	width: min(95%, 120rem);
}

.submitButton {
	border-radius: 5px;
	color: #f8f1f1;
	background-color: coral;
}